# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
__pycache__/

# Visual Studio
.vs/
.vscode/
build/
Build/
out/
CMakeFiles/
task.txt

# RenderDoc
*.rdc

FrameBufer.h
FrameBufer.cpp
*.zip
downloads/
assets/
assets-orig/
temp/
Debug/
assets-orig/
